node_modules/
dist/
build/
.env
.DS_Store
coverage/
*.log

# Flutter/Dart specific
.dart_tool/
.packages
.pub-cache/
.pub/
/build/

# iOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
.cxx/
*.iml
backend/node_modules/
backend/.env
backend/dist/
admin-portal/.env
venv/
.DS_Store
