PORT=5001
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/serve_db"

# Frontend URLs for CORS
STUDENT_APP_URL="http://10.0.2.2:3000"
STAFF_DASHBOARD_URL="http://localhost:5173"
ADMIN_PORTAL_URL="http://localhost:5174"
